.job{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    background-color: rgb(240, 255, 254);


    &> .job--boxed{
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 1500px;
        margin: 20px;
        border: 2px solid black;


        .job--boxed--first_line{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .job--date{
                font-size: 20px;
            }

        }


        .job--boxed--second_line{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .job--company{
                font-size: 20px;
            }

        }


        .job--boxed--third_line{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

        }


        .job--boxed--fourth_line{
            display: flex;
            flex-direction: row;
            //justify-content: space-between;

            .job--description{
                //flex: 0.4 0.6 800px;
                width: 66%;

                margin: 10px;
                border: 1px solid black;
                padding: 6px;

                //background-color: white;
                overflow-y: auto;
                
                *{
                    text-align: start;
                }

                h3{
                    margin: 10px 0;
                }
                
            }

            .job--photo{
                //flex: 0.6 0.4 400px;
                width: 34%;
                max-width: 500px;
                max-height: 800px;

                margin: 20px;

                object-fit: scale-down;
            }
        }
    }

    .job--job_title, .job--date, .job--company, .job--description, .job--boxed--third_line > span{
        margin: 6px;
        border: 0px;
        padding: 0px;
    }

}

/* display: grid could be a better choice


/*******************/

.gallery{
    flex-direction: column;
    border: 2px solid black;
    

    div:nth-child(1){

    }


    .gallery--image{
        object-fit: scale-down;

        transition: 0.5s ease-in-out;

        &:hover{
            /* might want to scale up and display at the left\right to not block the buttons */
            /*transform: scale(2.0);*/
            transform-origin: center bottom;
            
        }
    }

    div:nth-child(2){
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        &> button{
            color: black;

            background-color: grey;

    
    
            &:hover{
                color: red;
            }
    
        }
    
        &> .gallery--caption{
            background-color: yellow;

            color: green;
            max-width: 999px;
            margin: 2px;
            display: inline-block;
            min-width: 0px;

        }

    }

}

/*************************/

.skill--languages{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 100%;



    .skill--language{
        flex: 1 1 700px;

        margin-bottom: 20px;

        .language--pdf{
            width: 90%;
            height: 800px;
        }

        .langauge--preload, .language--description{
            max-width: 400px;
            display: inline-flex;
            text-align: center;
        }



    }
}

.languages-preface{
    max-width: 400px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .languages-explanation{


    }

    .languages--button{
        width: 130px;
        height: 50px;
        font-size: 18px;

        border: 0;
        padding: 0;

        word-spacing: 20000px;  //force words to 2 lines
        background-color: rgb(255, 225, 225);
        color: rgb(0, 0, 0);
        border: solid black 2px;
        border-radius: 50px;

        transition: 0.3s;

        &:hover{
            background-color: rgb(217, 222, 255);

        }

        &.loaded{
            background-color: rgb(217, 222, 255);

            &:hover{
                background-color: rgb(255, 225, 225);
            }
        }
    }
}



/***********************/

.skill_logo{
    margin: 5px;
    width: 70px;
    height: 70px;

    object-fit: scale-down;
}