@media (max-width: 800px){
    .header{
        background-color: greenyellow;

        &> .switch_tab{
            display: none;
        }

        .dropdown_menu{
            display: inline-block;
        }
    }

    /******************/

    #job--last_section{
        flex-direction: column-reverse;
        align-items: center;

        &> #job--description{
            box-sizing: border-box;
            width: 95%;

        }

        &> #job--photo{
            width: 95%;

        }
    }
}