/* variables */

$header-border: 3px;
$banner-height: 95px;



/*****************************/

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/*****************************/

.banner{
    background-color: grey;
    overflow: hidden;

    transition: max-height 0.7s ease-out;
    

    &.folded{
        max-height: 0px;
    }

    &.expanded{
        // right now, I have not yet found a better solution than using a fixed max-height (which can be a variable)
        max-height: $banner-height;
    }
}

/**********************/

/* sticky header */
.header{
    position: sticky;
    top: 0px;
    background-color: rgb(207, 207, 207);

    display: flex;

    &> *{
        border-bottom: $header-border solid black;
    }

    &> span{
        margin: 0px;
        padding: 10px 12px;
        font-size: 20px;
        color: black;
    }

    &> .switch_tab{
        flex-basis: 120px;
        border: $header-border transparent;
        border-bottom: $header-border solid black;
    
        margin: 0px;
        padding: 10px 12px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        color: black;
        font-size: 20px;
        
        
        &.selected{
            padding-top: (10 - $header-border);
            background-color: white;
            border: $header-border solid black;
            border-bottom: $header-border transparent;
        }
    
        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
        }
    
        &:active{
            /* change this */
            background-color: rgba(236, 61, 61, 0.2);
        }

    }

    &> .filler{
        flex-grow: 1;
    }

    &> .bar_button, .fold_button{
        margin: 0px;
        padding: 10px 12px;
        font-size: 20px;
        border: $header-border transparent;
        border-bottom: $header-border solid black;
        background-color: transparent;
        cursor: pointer;
    }

    
    &> .bar_button{
        font-weight: bold;
        transform: scaleX(2);
    }
}


.dropdown_menu{
    position: relative;
    display: none;

    &> .dropdown_menu--icon{
        width: 45px;
        height: 100%;
        border: 0;
        background-color: transparent;

        font-size: 30px;
        //padding: 0 12px;

        //testing

        &:hover{
            background: red;
        }

    }

    .dropdown_menu--content{
        display: none;
        position: absolute;
        right: 0;

        border: 2px solid black;
        width: 120px;

        background-color: rgb(207, 207, 207);


        .switch_tab{
            margin: 0;
            border: 0;
            padding: 0;

            
            flex: 0 0 40px;
            width: 100%;
            background-color: transparent;

            font-size: 20px;
        }
    }
}

.dropdown_menu:hover{

    .dropdown_menu--icon{
        color: green;
    }

    .dropdown_menu--content{
        display: flex;
        flex-direction: column;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        .switch_tab{

            &.selected{
                background-color: rgb(219, 157, 157);
            }
        
            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }
        
            &:active{
                
            }
        }
    }
}




/************************/

/* for non-white background, this produces a flashy effect that could be distracting */
.content{
    @extend %flex-column-center;

    flex-grow: 1;
    text-align: center;
    background-color: white;
    animation: fade-in-effect 0.3s;
    overflow: auto;
}

.introduction *{
    max-width: 1200px;
}

%flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-experience{
    
}


.projects{

}

.project{
    margin: 10px;
    border: 1px solid black;
    padding: 4px;
}




.skills{
    @extend %flex-column-center;

    .skill{
        margin: 20px;
        border: 1px solid black;
        max-width: 1200px;
        padding: 6px;

        &> div{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            
            .skill--logo{
                margin: 5px;
                width: 70px;
                height: 70px;

                object-fit: scale-down;
            }
        }
    }
}




@keyframes fade-in-effect{
    from {opacity: 0}
    to {opacity: 1}
}

/***************************/

/* forced to the bottom, even for very short page */
.footer{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: black;

    display: flex;
    justify-content: center;
}

.footer p{
    color: white;
}