/* variables */

$header-border: 3px;
$banner-height: 95px;



/*****************************/

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/*****************************/

.banner{
    background-color: grey;
    overflow: hidden;

    transition: max-height 0.7s ease-out;
    

    &.folded{
        max-height: 0px;
    }

    &.expanded{
        // right now, I have not yet found a better solution than using a fixed max-height (which can be a variable)
        max-height: $banner-height;
    }
}

/**********************/

/* sticky header */
.header{
    position: sticky;
    top: 0px;
    background-color: rgb(207, 207, 207);

    display: flex;

    &> *{
        border-bottom: $header-border solid black;
    }

    &> span{
        margin: 0px;
        padding: 10px 12px;
        font-size: 20px;
        color: black;
    }

    &> .switch_tab{
        flex-basis: 120px;
        border: $header-border transparent;
        border-bottom: $header-border solid black;
    
        margin: 0px;
        padding: 10px 12px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        color: black;
        font-size: 20px;
        
        
        &.selected{
            padding-top: (10 - $header-border);
            padding-bottom: (10 + $header-border);
            background-color: white;
            border: $header-border solid black;
            border-bottom: $header-border transparent;
        }
    
        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
        }
    
        &:active{
            /* change this */
            background-color: rgba(236, 61, 61, 0.2);
        }

    }

    &> .filler{
        flex-grow: 1;
    }

    &> .bar_button, .fold_button{
        margin: 0px;
        padding: 10px 12px;
        font-size: 20px;
        border: $header-border transparent;
        border-bottom: $header-border solid black;
        background-color: transparent;
        cursor: pointer;
    }

    
    &> .bar_button{
        font-weight: bold;
        transform: scaleX(2);
    }
}


.dropdown_menu{
    position: relative;
    display: none;

    &> .dropdown_menu--icon{
        width: 45px;
        height: 100%;
        border: 0;
        background-color: transparent;

        font-size: 30px;
        //padding: 0 12px;

        //testing

        &:hover{
            background: red;
        }

    }

    .dropdown_menu--content{
        display: none;
        position: absolute;
        right: 0;

        border: 2px solid black;
        width: 120px;

        background-color: rgb(207, 207, 207);


        .switch_tab{
            margin: 0;
            border: 0;
            padding: 0;

            
            flex: 0 0 40px;
            width: 100%;
            background-color: transparent;

            font-size: 20px;
        }
    }
}

.dropdown_menu:hover{

    .dropdown_menu--icon{
        color: green;
    }

    .dropdown_menu--content{
        display: flex;
        flex-direction: column;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        .switch_tab{

            &.selected{
                background-color: rgb(219, 157, 157);
            }
        
            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }
        
            &:active{
                
            }
        }
    }
}


.toTheTopButton{
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;


    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 43.8px;

        width: 50px;
        height: 50px;

        background-color: black;

        //clip-path: polygon(50% 20%, 30% 40%, 40% 40%, 40% 90%, 60% 90%, 60% 80%, 40% 80%, 40% 70%, 60% 70%, 60% 60%, 40% 60%, 40% 50%, 60% 50%, 60% 40%, 70% 40%);
        clip-path: polygon(50% 20%, 30% 40%, 40% 40%, 40% 70%, 60% 70%, 60% 60%, 40% 60%, 40% 50%, 60% 50%, 60% 40%, 70% 40%);
    }
}

.toTheTopButton:hover{
    &::before{
        animation: upward-fade-out-in-effect 1s infinite;
    }
}

@keyframes upward-fade-out-in-effect{
    0% {opacity: 100%; transform: translateY(0);}
    40% {opacity: 0%; transform: translateY(-50%);}
    60% {opacity: 0%; transform: translateY(50%);}
    100% {opacity: 100%; transform: translateY(0);}
}


/************************/

/* for non-white background, this produces a flashy effect that could be distracting */
.content{
    @extend %flex-column-center;

    flex-grow: 1;
    text-align: center;
    background-color: white;
    animation: fade-in-effect 0.3s;
    overflow: auto;
}



.introduction{
    width: 100%;

    &> div{
        width: 100%;
    }

    &> div:nth-child(odd){
        background-color: rgb(255, 250, 230);
    }

    &> div:nth-child(even){
        background-color: rgb(228, 240, 255);
    }

    .introduction--section1{

        .values{
            @extend %flex-row-wrap-space_evenly-center;

            .value{
                box-sizing: content-box;
                flex: 0.2 0 300px;
                margin: 10px;
                border: 0;
                padding: 5px;
            }
        }

    }

    .introduction--section2{

        
        .domains{
        @extend %flex-row-wrap-space_evenly-center;

            .domain{
                box-sizing: content-box;
                flex: 0.2 0 300px;
                margin: 10px;
                border: 0;
                padding: 5px;
            }
        }
    }
}

%flex-row-wrap-space_evenly-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

%flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.work-experience{
    
}


.projects{
    background-color: rgb(242, 255, 234);

}

.project{
    margin: 10px;
    border: 2px solid black;
    padding: 8px;

    max-width: 1500px;

    .project--title{
        margin: 10px;
    }

    .project--description{

        *{
            text-align: start;
        }


    }
}




.skills{
    @extend %flex-column-center;

    .skills--section{
        width: 100%;
        display: flex;
        justify-content: center;

        &:nth-child(odd){
            background-color: rgb(255, 225, 225);
        }

        &:nth-child(even){
            background-color: rgb(229, 255, 214);
        }

        &:last-child{
            flex: 1 0 auto;
        }
    }


    .skill{
        margin: 20px;
        //border: 1px solid black;
        max-width: 1500px;
        padding: 6px;

        summary{
            font-size: 20px;
        }
    }
}

.skill--paragraph{
    max-width: 800px;
}


.skill--technologies{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 100%;
    max-width: 1500px;


    .skill--technology{
        flex: 1 1 400px;
        margin: 10px;

        max-width: 500px;
    }
}

.skill.language_section{
    max-width: none;
    width: 100%;
}


/*********************/


.contact{
    background-color: rgb(245, 245, 245);

}




@keyframes fade-in-effect{
    from {opacity: 0}
    to {opacity: 1}
}

/***************************/

/* forced to the bottom, even for very short page */
.footer{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 100px;

    background-color: rgb(59, 59, 59);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    *{
        color: white;

        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .footer--site{
        grid-column: 5 / span 1;
        grid-row: 2 / span 1;
    }

    .footer--intro{
        grid-column: 3 / span 1;
        font-size: 20px;

        @extend %footer-switch-tab;
    }
    
    .footer--experience{
        grid-column: 4 / span 1;
        font-size: 20px;

        @extend %footer-switch-tab;
    }

    .footer--projects{
        grid-column: 5 / span 1;
        font-size: 20px;

        @extend %footer-switch-tab;
    }

    .footer--skill{
        grid-column: 6 / span 1;
        font-size: 20px;

        @extend %footer-switch-tab;
    }

    .footer--contact{
        grid-column: 7 / span 1;
        font-size: 20px;

        @extend %footer-switch-tab;
    }
}

%footer-switch-tab{
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background-color: rgb(230, 230, 230);
        color: black;
    }
}